/* Main Stylesheet - Imports all CSS modules */

@import url('css/variables.css');
@import url('css/header.css');
@import url('css/about.css');
@import url('css/portfolio.css');
@import url('css/contact.css');
@import url('css/responsive.css');
